# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

.vscode/*
!.vscode/settings.json
!.vscoce/tasks.jsob
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
